<h1>List of Products</h1>

<div>
{{#if session}}
        <p class="sessionWelcomeProducts">Welcome {{user.first_name}} {{user.last_name}}!</p>
        <p class="sessionWelcomeProducts">Your rol is: {{user.rol}} </p>
        <p class="sessionWelcomeProducts">Cart ID: {{user.cart}} </p>
{{/if}}
</div>

<div>
    {{#each prods}}
        <div class="prodsCardsViews">
            <h2>{{this.title}}</h2>
            <p>${{this.price}}</p>
            <p>Description: {{this.description}}</p>
            <p>Category: {{this.category}}</p>
            <p>Stock: {{this.stock}}</p>
            <button> Add to Cart</button>
        </div>
    {{/each}}
</div>

<div>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> back </a>
    {{/if}}

    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"> next </a>
    {{/if}}

    <p>Page {{currentPage}} of {{totalPages}} </p>
</div>
